.country__info {
    display: flex;
}

h2 {
    text-align: center;
}

li,
ul,
p {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    margin: 0 50px;
    width: 500px;
    height: 300px;
}

.stats {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}

.keyWord {
    display: flex;
    margin: 0 auto;
}

.load {
    color: red;
    background-color: springgreen;
    border: 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.load__more {
    display: none;
}

.is__active {
    display: inherit;
}